
.tag {
    font-weight: bold;
    padding: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 8px;
    text-align: center;
    flex: 0 0 auto;
    border-radius: 5px;
    background-color: #777;
    color: #ddd;
    white-space: nowrap;
    display: inline-flex;
}

.tag:hover {
    background-color: #555;
    cursor: pointer;
}

.tag:active {
    background-color: #999;
    cursor: pointer;
}


.tag.feeling {
    background-color: #737;
}

.tag.descriptor {
    background-color: #337;
}

.tag.feeling:hover {
    background-color: #515;
}

.tag.descriptor:hover {
    background-color: #115;
}

.tag.feeling:active {
    background-color: #959;
}

.tag.descriptor:active {
    background-color: #559;
}

button.tag-open {
    background: none;
    border: none;
}

.tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px; /* Space between items */
    justify-content: flex-start;
    width: 100%;
    margin: 10px;
}

.tag-list button.open-add-tag {
    background-color: #5E6;
    width: 40px;
    font-size: 25px;
    border-radius: 5px;
}

.tag-list button.open-add-tag:hover {
    background-color: #3D4;
    cursor: pointer;
}

.tag-list button.open-add-tag:active {
    background-color: #7F8;
    cursor: pointer;
}

.add-tag {
    margin: 10px;
    background-color: #555;
    padding: 20px;
    padding-right: 30px;
    border-radius: 10px;
    width: 500px;
}

.add-tag h3 {
    font-weight: bold;
    font-size: 25px;
    margin-top:0px;
    text-align: center;
}

.add-tag input {
    width: 50%;
}

.add-tag textarea {
    width: 100%;
    margin-right: 30px;
}

.add-tag .close {
    display: flex;
    justify-content: flex-end;
 }

 .add-tag .close button {
    background-color: #D55;
    width:30px;
    height: 30px;
    border: 1px solid #333;
    border-radius: 5px;
 }

 .add-tag .close button:hover {
    cursor: pointer;
    background-color: #D55;
 }

 .add-tag .close button:active {
    cursor: pointer;
    background-color: #F99;
 }
 
 

.edit button.add, .edit button.edit {
    background-color: #5E6;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 8px;
}



.edit button.add:hover,.edit button.edit:hover {
    cursor:pointer;
    background-color: #3C4;
}

.edit button.add:active, .edit button.edit:active {
    cursor:pointer;
    background-color: #7F8;
}


//////////////////
.tag button:hover {
    cursor: pointer;
    background-color: #D55;
}

.tag button:active {
    cursor: pointer;
    background-color: #F99;
}


.tag .delete {
    border-radius: 5px;
    border: 1px solid;
    background-color: #F77;
    margin-left: 7px;
    margin-top: 2px;   
}

.edit h5 {
    margin-bottom:0px
}

.edit textarea {
    min-width:300px;
    min-height: 100px;
}

