.tag {
    font-weight: bold;
    padding: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 8px;
    text-align: center;
    flex: 0 0 auto;
    border-radius: 5px;
    background-color: #777;
    color: #ddd;
    white-space: nowrap;
    display: inline-flex;
}

.tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px; /* Space between items */
    justify-content: flex-start;
    width: 100%;
    margin: 10px;
}

.tag button {
    margin-left: 7px;
    margin-top: 2px;
    
}

.tag button:hover {
    cursor: pointer;
    background-color: #D55;
}

.tag button:active {
    cursor: pointer;
    background-color: #F99;
}


.tag .delete {
    border-radius: 5px;
    border: 1px solid;
    background-color: #F77;
}

.edit h5 {
    margin-bottom:0px
}

.edit textarea {
    min-width:300px;
    min-height: 100px;
}

